{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
{% endblock %}

{% block content %}
    <div class="main-container">
    {% for i in "x"|rjust:"10" %}
        <div class="main-card">
            <div class="main-card-image">
                <img src="{% static 'img/rds.png' %}" style="border-radius: 40px;" />
            </div>
            <div class="main-card-content">
                <div class="main-card-title">AWS RDS</div>
                <div class="main-card-desc">아마존 RDS는 아마존 웹 서비스가 서비스하는 분산 관계형 데이터베이스이다.</div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}